.error-parent {
	width: 100%;
	height: 100%;
	display: flex;
}
.error-modal {
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 500px;
}
.error-text {
	color: gray;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.error-title {
	font-size: 36px;
	font-weight: bold;
	margin: auto;
}
.error-msg {
	margin: auto;
	margin-top: 10px;
}